<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta char set="UTF-8">
    <title>マイページ | 美ら島図書館図書貸出システム</title>

    <!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <h1>美ら島図書館図書貸出システム</h1>
        <h1>利用者マイページ</h1>
    </header>
    <div class="container">
        <a href="/guest/view">プロフィール</a>
        <a href="/book/find">図書検索</a>
        <a href="/guest/rentalList">貸出図書リスト</a>
    </div>

</body>
</html>