<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta char set="UTF-8">
    <title>貸出図書リスト | 美ら島図書館図書貸出システム</title>

    <!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <h1>美ら島図書館図書貸出システム</h1>
        <h1>貸出図書リスト</h1>
    </header>
    <div class="container">
        <form class="rent-books" th:method="post" th:action="@{/guest/return}">
            <h2 class="search-headline">貸出中図書</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>図書名</th>
                        <th>著者</th>
                        <th>出版社</th>
                    </tr>
                </thead>
                <tbody th:unless="${rentBooks.isEmpty()}">
                    <tr th:each="book: ${rentBooks}" th:object="${rendingBookIDList}">
                        <td>
                            <input type="checkbox" name="selectedBooks" th:value="${book.bookID}" th:field="*{selectedBooks}">
                        </td>
                        <td><span th:text="${book.bookTitle}"></span></td>
                        <td><span th:text="${book.author}"></span></td>
                        <td><span th:text="${book.publisher}"></span></td>
                        <!-- <td><span th:text="${book.enabled}"></span></td> -->
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="返却">
        </form>

        <form class="candidate-rent-books">
            <h2 class="search-headline">貸出候補図書</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>図書名</th>
                        <th>著者</th>
                        <th>出版社</th>
                        <th>状態</th>
                    </tr>
                </thead>
                <tbody th:unless="${candidateRentBooks.isEmpty()}">
                    <tr th:each="book: ${candidateRentBooks}" th:object="${candidateBookIDList}">
                        <td>
                            <input type="checkbox" name="selectedBooks" th:value="${book.bookID}" th:field="*{selectedBooks}">
                        </td>
                        <td><span th:text="${book.bookTitle}"></span></td>
                        <td><span th:text="${book.author}"></span></td>
                        <td><span th:text="${book.publisher}"></span></td>
                        <td><span th:text="${book.status}"></span></td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="submit" value="貸出" th:formmethod="post" th:formaction="@{/guest/rent}">
            <input type="submit" value="取消" th:formmethod="post" th:formaction="@{/guest/cancel}">
        </form>
    </div>

    <footer>
        <div class="container">
            <div class="item">
                <a href="/guest/myPage">利用者マイページ</a>
            </div>
            <div class="item">
                <a href="#" onclick="history.back(-1);return false;">戻る</a>
            </div>
        </div>
    </footer>

</body>
</html>